* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
    font-family: 'Fira Code', monospace;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.swal-modal {
    background-color: black;
    border: 3px solid white;
    width: 55%;
}
.swal-title {
    color: white;
}
.swal-text {
    color: white;
}
.swal-footer {
    background-color: black;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}
.swal-button {
    background-color: black;
    border: 1px solid white;
    color: white;
}

#pause-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: white;
}
#pause-button i {
    color: black;
}

.main {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}
.choose-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    align-items: center;
}
.choose-mode h3 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    max-width: 80%;
}

.choose-mode button, #pre-computed-stop-button {
    font-size: 1.4rem;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin: 20px 0;
    transition: all 500ms ease-in-out;
    font-family: 'Fira Code', monospace;
    max-width: 90%;
}

.choose-mode button:hover, #pre-computed-stop-button:hover {
    transform: scale(1.05);
    padding: 15px 5px;
}

.fa-spinner {
    animation: rotating 1s infinite;
    transition: all 1s linear;
}

#pre-computed-timer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.5;
}
#pre-computed-timer div {
    color: white;
}
#pre-computed-timer div i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#pre-computed-timer i {
    color: white;
}

#pre-computed-stop-button i {
    color: black;
    padding-right: 10px;
    transition: scale 1s ease-in-out;
    animation: pulsing 1s infinite;
}

#pre-computed-stop-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

@keyframes rotating {
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes pulsing {
    to {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 882px) {
    .choose-mode button {
        font-size: 1.2rem;
    }
    .title {
        text-align: center;
        font-size: 3rem;
    }
    .choose-mode h3 {
        margin-top: 30px;
        font-size: 1.4rem;
    }
}
